.navBarBtnColorFemale {
  background-color: pink;
}

.navBarBtnColorMale {
  background-color: rgb(111, 185, 255);
}

.itemCard,
.itemPhotoContainer {
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
}

.pageTitle,
.navBarMenuColor,
.menuChildButton {
  color: pink;
}

.leftColumnWrapper {
  border-right: pink;
  box-shadow: 0 10px 10px 10px rgb(250, 228, 232);
}

.navBarWrapper {
  border-bottom: 1px solid pink;
  box-shadow: 0 10px 10px 2px rgb(251, 178, 192);
}

.bm-burger-bars,
.bm-cross {
  background: pink;
}

.bm-burger-bars-hover {
  background: rgb(255, 110, 134);
}
