.itemPhoto {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.itemPhotoContainer {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
}

.itemCard {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
}

.menuParentButton {
  border: none;
  width: 100px;
  background-color: white;
  flex-direction: column;
}

.menuChildButton {
  border: none;
  margin-left: -20%;
  width: 150px;
  flex-direction: column;
}

.list-group-item {
  color: black;
}
