.itemPhoto {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.itemPhotoContainerFemale {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
}

.itemPhotoContainerMale {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(111, 185, 255);
}

.itemCardFemale {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
}

.itemCardMale {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(111, 185, 255);
}

.buyButtonFemale {
  border: none;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
  background-color: pink;
}

.buyButtonMale {
  border: none;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(111, 185, 255);
  background-color: rgb(111, 185, 255);
}

.buyButtonFemale:focus {
  outline: 0;
}

.buyButtonMale:focus {
  outline: 0;
}
