.itemPhoto {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.itemPhotoContainer {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
}

.itemCard {
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 20px rgb(245, 157, 172);
}
