.navBarBtnColor {
  background-color: rgb(111, 185, 255);
}

.itemCard,
.itemPhotoContainer {
  box-shadow: 0.2px 0.2px 20px rgb(111, 185, 255);
}

.pageTitle,
.navBarMenuColor,
.menuChildButton,
.menuParentButton {
  color: rgb(111, 185, 255);
}

.leftColumnWrapper {
  border-right: rgb(111, 185, 255);
  box-shadow: 0 10px 10px 2px rgb(183, 220, 255);
}

.navBarWrapper {
  border-bottom: 1px solid rgb(111, 185, 255);
  box-shadow: 0 10px 10px 2px rgb(183, 220, 255);
}

.bm-burger-bars,
.bm-cross {
  background: rgb(111, 185, 255);
}

.bm-burger-bars-hover {
  background: rgb(72, 167, 255);
}
