.navBarWrapper {
  border-bottom: 1px solid pink;
  box-shadow: 0 10px 10px 2px rgb(250, 228, 232);
  display: flex;
}

.container-fluid {
  padding: 0;
}

.navBarMenuColor {
  color: pink;
}

.navBarBtnColor {
  background-color: pink;
  border: none;
}

.pageTitle {
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
  color: pink;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.menu {
  width: 200px;
}

@media (max-width: 320px) {
  .navBarButtonColumn {
    margin-right: 100px;
  }
}

@media (min-width: 375px) {
  .navBarButtonColumn {
    margin-right: 100px;
  }
}

@media (min-width: 768px) {
  .navBarButtonColumn {
    margin-right: 100px;
  }
}

@media (min-width: 1024px) {
  .navBarButtonColumn {
    margin-right: 100px;
  }
}

@media (min-width: 1440) {
  .navBarButtonColumn {
    margin-right: 100px;
  }
}
